if locals.song 
    label Title
    input(type="text", name="title", value=song.title ) 
    label Author
    input(type="text", name="author", value=song.author )
else
    label Title
    input(type="text", name="title") 
    label Author
    input(type="text", name="author")